<%= form_with url: test_passage_path(@test_passage), local: true,
              data: { current_question: @test_passage.current_question_num, last_question: @test_passage.questions_count },
              class: 'test-passage-question',
              method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= link_to t('gist.question'), gists_path(@test_passage), method: :post %></p>

  <p> <%= form.submit 'Next' %> </p>
<% end %>
