<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<p>
  Number of Questions in Test: <%= @test_passage.questions_count %> <br>
  Correct Answers: <%= @test_passage.correct_questions %>
</p>

<% if @test_passage.successfully_completed? %>
  <p>You are successfully completed test with <strong color="green"><%= @test_passage.percentage %>%</strong></p>
<% else %>
  <p>You are failed test, your percentage is <strong color="red"><%= @test_passage.percentage %>%</strong></p>
<% end %>

<%= link_to 'All Tests', tests_path %>
