<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <%= t('.count') %>: <%= @test_passage.questions_count %> <br>
  <%= t('.correct') %>Correct Answers: <%= @test_passage.correct_questions %>
</p>

<% if @test_passage.successfully_completed? %>
  <p><%= t('.success') %> <strong color="green"><%= @test_passage.percentage %>%</strong></p>
<% else %>
  <p><%= t('.failure') %> <strong color="red"><%= @test_passage.percentage %>%</strong></p>
<% end %>

<%= link_to 'All Tests', tests_path %>
