<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.current_question.nil? %>
  <p> <%= t('.no_questions') %> </p>
  <%= link_to 'Back to Tests', tests_path %>

<% elsif @test_passage.current_question.answers.count.zero? %>
  <%= render 'current_question' %>
  <p> <%= t('.answers') %> </p>
  <%= link_to t('action.root'), tests_path %>

<% else %>
  <%= render 'current_question' %>
  <%= render 'form' %>
<% end %>
