<%= form_with model: @contact, locale: true do |form| %>
  <%= render 'shared/errors', resource: @contact %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :contact_name%>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, id: :contact_email%>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, id: :contact_body %>
  </p>

  <p><%= form.submit %></p>
<% end %>
