<%= form_with(model: [:admin, @question, answer]) do |form| %>
  <%= render 'shared/errors', resource: answer %>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" %><br>
    <%= form.text_area :body, id: :answer_body, rows: 7, cols: 60, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :correct, class: "form-label" %>
    <%= form.check_box :correct, id: :answer_correct, class: "form-check-input mt-1" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
