<h4 class="fw-light">
  <%= t('.question') %>: <%= @answer.question.body %>
</h4>

<h2><%= t('.answer') %>: <%= @answer.body %></h2>

<h4>
  <strong><%= t('.correct') %>:</strong>
  <%= t @answer.correct.to_s %>
</h4>

<%= link_to t('action.edit'), edit_admin_answer_path(@answer) %> |
<%= link_to t('action.back'), admin_question_path(@answer.question) %>
