<%= form_with(model: [:admin, @test, question]) do |form| %>
  <%= render 'shared/errors', resource: question %>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" %>
    <%= form.text_field :body, id: :question_body, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn', style:'background-color: #B1CBFF;' %>
  </div>
<% end %>
