<main id='show-question-page'>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <h3 class="fw-light">
        <%= t('.test') %>: <%= @question.test.title %>
      </h3>
      <h1><%= t('.question') %>: <%= @question.body %></h1>
      <p>
        <%= link_to t('action.new_answer'), new_admin_question_answer_path(@question), class: 'btn btn-primary my-2' %>
        <%= link_to t('action.edit'), edit_admin_question_path(@question), class: 'btn btn-primary my-2' %>
        <%= link_to t('action.back'), admin_test_path(@question.test), class: 'btn btn-secondary my-2' %>
      </p>
    </div>
  </section>
  <section class="bg-light">
    <h3 class="text-center"><%= t('.answer') %></h3>
    <div class="album py-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <%= render @question.answers %>
        </div>
      </div>
    </div>
  </section>
</main>
