<h1><%= t('.header') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions') %></th>
      <th colspan="4"><%= t('.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_admin_test_path %>
