
<p>
<strong><%= t('.title') %>:</strong>
<%= @test.title %>
</p>

<p>
<strong><%= t('.level') %>:</strong>
<%= test_level(@test) %>
</p>

<p>
<strong><%= t('.author') %>:</strong>
<%= @test.author.full_name %>
</p>

<p>
<strong><%= t('.category') %>:</strong>
<%= @test.category.title %>
</p>

<h2><%= t('.questions') %></h2>
<table>
  <thead>
  <tr>
    <th><%= t('.body') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>
  </thead>

  <tbody>
    <%= render @test.questions %>

  </tbody>
</table>

<%= link_to 'New Question', new_admin_test_question_path(@test) %> |
<%= link_to t('action.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('action.back'), admin_tests_path %>
