<div class="card mt-3">
  <div class="card-header">
    <h3 class="card-title"><%= t('.test_info') %></h3>
  </div>

  <div class="card-body">
    <p class="card-text"><strong><%= t('.title') %>:</strong> <%= @test.title %></p>
    <p class="card-text"><strong><%= t('.level') %>:</strong> <%= test_level(@test) %></p>
    <p class="card-text"><strong><%= t('.time') %>:</strong> <%= "#{@test.time} #{t('.min')}" %> </p>
    <p class="card-text"><strong><%= t('.author') %>:</strong> <%= @test.author.full_name %></p>
    <p class="card-text"><strong><%= t('.category') %>:</strong> <%= @test.category.title %></p>
    <p class="card-text"><strong>Описание:</strong> <%= @test.description %></p>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('.questions') %></h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover centered-data-table">
          <thead class="table-dark">
          <tr>
            <th><%= t('.body') %></th>
            <th colspan="2" class="text-center"><%= t('.actions') %></th>
          </tr>
          </thead>
          <tbody>
          <%= render @test.questions %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= link_to t('action.new_question'), new_admin_test_question_path(@test) %> |
<%= link_to t('action.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('action.back'), admin_tests_path %>
