<div class="card mx-auto col-12 col-sm-8" style="background: #FFFCFE; padding: 20px 24px; margin-top: 8%">
  <h4 class="card-title"><%= @test.title %></h4>
  <p class="card-subtitle mb-2 text-body-secondary"> Категория: <%= @test.category.title.truncate(15) %></p>
  <p class="card-subtitle mb-2 text-body-secondary">Уровень: <%= @test.level %> | Кол-во
    вопросов: <%= @test.questions.count %></p>
  <p><%= @test.description %></p>
  <p><%= link_to t('action.start'), start_test_path(@test), style: '', method: :post %></p>
</div>
